<div class="text-center" class="mb-6">
    <h1 class="mt-4">Stupid Coaching</h1>
  <div id="question_form" class="justify-content-center">
    <form action="/answer" data-turbo="false" class="col-lg-6 offset-lg-3">
      <label for="">Ask your coach anything:</label>
      <input type="text" name="question" class="form-control mt-4">
      <input type="submit" value="Ask!" class="btn btn-primary mt-4">
    </form>
  </div>
</div>
